<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <title>The Movie Pick</title>
</head>

<body>
  <header>
    <h1>The Movie Pick</h1>
  </header>

  <form class="login" action="/login" method="POST">
    <h2>Login</h2>

    <div>
      <label for="username">Email</label>
      <input type="email" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <input type="submit" value="Login">
  </form>
  <footer>
    <div class="copyright">&copy; The Movie Pick, All rights reserved</div>
    <div class="fair-use">All images used are believed to be in "Fair Use". Pease notify the author if any are not and
      they will be removed</div>
    <div class="fair-use">This app uses The Movie Database API, TMDB</div>
    <div class="updated">Last Updated: April 6, 2021</div>
  </footer>

</body>